alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias grep='grep --color=auto'
alias ls='ls --color=always -F --group-directories-first --time-style=+"%Y-%m-%dT%H:%M:%S"'
alias ll='ls -lhF'
alias la='ls -lahF'
alias lo="ls -lha --color=always -F --group-directories-first | awk '{k=0;for(i=0;i<=8;i++)k+=((substr(\$1,i+2,1)~/[rwx]/)*2^(8-i));if(k)printf(\"%0o \",k);print}'"
alias vi='vim'
alias mkdir='mkdir -p -v'
alias service='sudo service --status-all'
alias duh='du -h --max-depth=1'
alias dusort='du -ah | sort -hr'
alias df='df -h'
alias rm='rm -I'
alias meteo='curl -4 wttr.in/lyon'
alias refresh_clock='sudo systemctl stop ntp && sudo ntpd -q && sudo systemctl start ntp'
alias ssh-agent-start='eval $(ssh-agent)'
alias assh='autossh -M 0 -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3"'
alias azerty='setxkbmap fr -model pc105'
alias bepo='setxkbmap fr bepo'
alias preview="fzf --preview 'bat --color \"always\" {}'"
#need ncdu 1.13need ncdu 1.13  alias ncdu="ncdu --color dark"
alias watch_power="watch -n 0.5 cat /sys/class/power_supply/BAT1/power_now /sys/class/power_supply/BAT0/power_now"


# Dev aliases
alias sf='php app/console'
alias sfclear='rm -rf app/cache/* && sf cache:warmup'
alias phpxdebug='php -dzend_extension=xdebug.so'
alias watch-dns-gen='docker exec -it dns-gen watch "cat /etc/dnsmasq.conf"'
