alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias grep='grep --color=auto'
alias ls='ls --color=always -F --group-directories-first'
alias ll='ls -lhF'
alias la='ls -lahF'
alias lo="ls -lha --color=always -F --group-directories-first | awk '{k=0;for(i=0;i<=8;i++)k+=((substr(\$1,i+2,1)~/[rwx]/)*2^(8-i));if(k)printf(\"%0o \",k);print}'"
alias vi='vim'
alias mkdir='mkdir -p -v'
alias service='sudo service --status-all'
alias duh='du -h --max-depth=1'
alias dusort='du -ah | sort -hr'
alias df='df -h'
alias rm='rm -I'
alias meteo='curl -4 wttr.in/lyon'
alias refresh_clock='sudo systemctl stop ntp && sudo ntpd -q && sudo systemctl start ntp'

# Dev aliases
alias sf='php app/console'
alias sfclear='rm -rf app/cache/* && sf cache:warmup'
alias composer='composer -vv'
alias puli='set -f;puli';puli(){ command puli "$@";set +f;}
alias phpxdebug='php -dzend_extension=xdebug.so'
