alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias grep='grep --color=auto'
alias ls='eza --color=always -F --group-directories-first'
alias ll='eza -lhF'
alias la='eza -lahF'
alias vi='vim'
alias mkdir='mkdir -p -v'
alias duh='du -h --max-depth=1 | sort -hr'
alias dusort='du -ah | sort -hr'
alias df='df -h'
alias rm='rm -I'
alias weather='curl -4 https://wttr.in/auberives-sur-vareze'
alias refresh_clock='sudo systemctl stop ntp && sudo ntpd -q && sudo systemctl start ntp'
alias ssh-agent-start='eval $(ssh-agent)'
alias assh='autossh -M 0 -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3"'
alias azerty='setxkbmap fr -model pc105'
alias bepo='setxkbmap fr bepo'
alias preview="fzf --preview 'bat --color \"always\" {}'"
#need ncdu 1.13need ncdu 1.13  alias ncdu="ncdu --color dark"
alias watch_power="watch -n 0.5 cat /sys/class/power_supply/BAT1/power_now /sys/class/power_supply/BAT0/power_now"
alias app='bin/app'
alias is_port_busy='lsof -i -n -P | grep'
alias netstat_port='netstat -tulpn'

# Dev aliases
alias sfclear='rm -rf var/cache && bin/console cache:clear'
alias phpxdebug='php -dzend_extension=xdebug.so'
alias watch-dns-gen='docker exec -it dns-gen watch "cat /etc/dnsmasq.conf"'
alias kx=kubectx
alias kn=kubens
alias kd=k3d

# Audio
alias set_mic_vol_internal='amixer set Capture 90%'
alias set_mic_vol_headphone='amixer set Capture 90%'
