export EDITOR=vim # Editeur par défaut
export TERM="xterm-256color"
export LESSOPEN="| /usr/bin/source-highlight-esc.sh %s" # Coloration syntaxique LESS
export LESS=' -RXI'

export GIT_PS1_SHOWDIRTYSTATE=1 # Montre si modif de la copie locale (*) ou (+) pour l'indexa
export GIT_PS1_SHOWSTASHSTATE=1 # Montre si éléments stashés ($)
export GIT_PS1_SHOWUNTRACKEDFILES=1 # Montre si fichiers non versionnés (%)
export GIT_PS1_SHOWUPSTREAM=verbose # Avance/Retard par rapport à la branche distante (<) (>) (=)
export GIT_PS1_DESCRIBE_STYLE=branch # Si detached HAED alors affiche des infos utiles
export GIT_PS1_SHOWCOlORHINTS=true # Active les couleurs fournis par .git-prompt.sh
export PROMPT_COMMAND='echo -ne "\033];${USER}@${HOSTNAME}:${PWD/#$HOME/\~}\007";' # Terminal title set to current path
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND" # Ajoute les nouvelles commandes dans le fichier d'historique

export HISTSIZE=20000 # Nombre de commande max dans l'historique
export HISTFILESIZE=$HISTSIZE # Taille maxi du fichier d'historique
export HISTTIMEFORMAT='%F %T'
export HISTCONTROL=ignoreboth # Pas de duplication des lignes d'historique
export HISTIGNORE='ls -l:ll:la:pwd:history'

export HOST_UID=$(id -u)
export HOST_GID=$(id -g)

export GPG_TTY=$(tty)

# Configurer un proxy
# export http_proxy='http://squid:8080/'
# export HTTP_PROXY=$http_proxy
# export https_proxy=$http_proxy
# export HTTPS_PROXY=$http_proxy
# export HTTP_PROXY_REQUEST_FULLURI=true
# export HTTPS_PROXY_REQUEST_FULLURI=true
# export ftp_proxy=$http_proxy
# export rsync_proxy=$http_proxy
# export no_proxy="localhost,127.0.0.1"
