script/tmuxExtra
script/php-v3

.config/fabric/*
!.config/fabric/patterns
.config/fabric/patterns/*
!.config/fabric/patterns/c_*

claude/*
!claude/agents/
!claude/skills/
!claude/CLAUDE.md
!claude/settings.json
!claude/statusline.sh

# NPM
nohup.out
npm-debug.log

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
