[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule ".custom-oh-my-zsh/themes/powerlevel10k"]
	path = .custom-oh-my-zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
