[alias]
    st    = status -sb
    co    = checkout
    cob   = checkout --no-track -b
    cobr  = !git checkout $(git branch | grep -v '*' | grep -v 'HEAD' | fzf)
    copr  = "!f() { git fetch origin pull/${1}/head:${2} && git co ${2}; }; f"
    cp    = cherry-pick
    rb    = rebase
    rba   = rebase --autosquash
    rbm   = rebase origin/master
    rbam  = rebase --autosquash origin/master
    rbi   = rebase -i
    rbiom = rebase -i origin/master
    rbc   = rebase --continue
    c     = commit
    ca    = commit --amend
    can   = commit --amend --no-edit
    com   = commit -m
    coma  = commit -a -m
    aa    = add --all
    fa    = fetch --all -p -v
    f     = fetch --all -p
    r1    = reset HEAD~1
    a     = !git add $(git diff --name-only | fzf)

    squash-all = "!f(){ git reset ${1} && git commit --amend --no-edit -a;};f"

    # push
    p   = push
    poh = push -u origin HEAD # like first push
    pf  = push --force-with-lease

    # log section
    l   = !git log | tig -FRSX
    lg  = log --graph --oneline --abbrev-commit --color --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lga = !git lg --all

    # branch management
    bdelete-force = !git branch --no-color | grep -v '*' | grep -v master | xargs --no-run-if-empty git branch -D
    bdelete = !git branch --no-color --merged | grep -v '*' | grep -v master | xargs --no-run-if-empty git branch -d
    bm      = branch -m
    recent  = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"

    # alias management
    aliases = "!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort"

    # diff
    d    = diff -M
    dc   = diff -M --cached
    dw   = diff -M -w
    dwc  = diff -M -w --cached
    da   = difftool -M -d
    daw  = difftool -M -d -w
    dac  = difftool -M -d --cached
    dawc = difftool -M -d --cached -w

    # tags
    tdelete = fetch --prune origin +refs/tags/*:refs/tags/*
    last-tag = describe --abbrev=0 --tags

[user]
    useconfigonly = true

[color]
	ui = true
    diff = true

[color "branch"]
    current = blue
    local   = yellow
    remote  = green

[color "status"]
    added     = green
    changed   = yellow
    untracked = red

[push]
    default = simple
    followTags = true

[diff]
    tool = meld
    guitool = meld

[merge]
    tool = meld
    ff = false
    conflictstyle = diff3

[pager]
   diff = diff-so-fancy | less --tabs=4 -RFX
   show = diff-so-fancy | less --tabs=4 -RFX

[core]
    excludesfile = ~/.gitignore_global

[pull]
    rebase = preserve

[branch]
    autosetuprebase = never

[rebase]
    autoStash = true
    instructionFormat = [%an @ %ar] %s

[rerere]
    enabled = true

[include]
    path = ~/.gitconfig_private

[url "git@github.com:"]
    insteadOf = gh:

[commit]
    gpgsign = true

[diff "exif"]
    textconv = exiftool

[transfer]
    fsckobjects = true
    # To combat repository corruption!
    # Note: this global option applies during receive and transmit
    # https://git-scm.com/docs/git-config#git-config-transferfsckObjects
    # via https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
    # via https://gist.github.com/scottnonnenberg/fefa3f65fdb3715d25882f3023b31c29

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gpg]
	program = gpg2
