# NPM
nohup.out
npm-debug.log

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# PhpStorm
.PhpStorm2017.3/system/
.PhpStorm2017.3/config/componentVersions/
.PhpStorm2017.3/config/tasks/
.PhpStorm2017.3/config/plugins/
.PhpStorm2017.3/config/options/IntelliLang.xml
.PhpStorm2017.3/config/phpstorm100.key
.PhpStorm2017.3/config/port.lock
.PhpStorm2017.3/config/disabled_update.txt
.PhpStorm2017.3/config/disabled_plugins.txt
.PhpStorm2017.3/config/fileTemplates/
.PhpStorm2017.3/config/extensions/
.PhpStorm2017.3/config/inspection/Default.xml
.PhpStorm2017.3/config/inspection/phpmd.xml
.PhpStorm2017.3/config/inspection/Deprecated.xml
.PhpStorm2017.3/config/options/databaseSettings.xml
.PhpStorm2017.3/config/options/debugger.xml
.PhpStorm2017.3/config/options/diff.xml
.PhpStorm2017.3/config/options/dimensions.xml
.PhpStorm2017.3/config/options/extensionsRootType.xml
.PhpStorm2017.3/config/options/feature.usage.statistics.xml
.PhpStorm2017.3/config/options/file.template.settings.xml
.PhpStorm2017.3/config/options/remote-server-client-libraries.xml
.PhpStorm2017.3/config/options/git.xml
.PhpStorm2017.3/config/options/notifications.xml
.PhpStorm2017.3/config/options/options.xml
.PhpStorm2017.3/config/options/find.xml
.PhpStorm2017.3/config/options/security.xml
.PhpStorm2017.3/config/options/project.default.xml
.PhpStorm2017.3/config/options/recentProjectDirectories.xml
.PhpStorm2017.3/config/options/statistics.application.usages.xml
.PhpStorm2017.3/config/options/stubIndex.xml
.PhpStorm2017.3/config/options/updates.xml
.PhpStorm2017.3/config/options/usage.statistics.xml
.PhpStorm2017.3/config/options/web-browsers.xml
.PhpStorm2017.3/config/options/window.manager.xml
.PhpStorm2017.3/config/options/ignore.xml
.PhpStorm2017.3/config/options/images.support.xml
.PhpStorm2017.3/config/options/keyboard.xml
.PhpStorm2017.3/config/options/laf.xml
.PhpStorm2017.3/config/options/other.xml
.PhpStorm2017.3/config/options/find.recents.xml
.PhpStorm2017.3/config/options/markdown_navigator.local.xml
.PhpStorm2017.3/config/options/markdown_navigator.shared.xml
.PhpStorm2017.3/config/options/multimarkdown.shared.xml
.PhpStorm2017.3/config/options/webServers.xml
.PhpStorm2017.3/config/options/proxy.settings.pwd
.PhpStorm2017.3/config/options/applicationLibraries.xml
.PhpStorm2017.3/config/options/nodeJsRemoteInterpreters.xml
.PhpStorm2017.3/config/options/databaseDrivers.xml
.PhpStorm2017.3/config/options/markdown.xml
.PhpStorm2017.3/config/options/filetypes.xml
.PhpStorm2017.3/config/options/runner.layout.xml
.PhpStorm2017.3/config/options/scratches.xml
.PhpStorm2017.3/config/options/fileEditorProviderManager.xml
.PhpStorm2017.3/config/options/ea_extended.xml
.PhpStorm2017.3/config/options/cachedDictionary.xml
.PhpStorm2017.3/config/options/vcs.xml
.PhpStorm2017.3/config/options/dataSources.local.xml
.PhpStorm2017.3/config/options/dataSources.xml
.PhpStorm2017.3/config/options/dataSources/
.PhpStorm2017.3/config/options/php-test-framework.xml
.PhpStorm2017.3/config/options/php.xml
.PhpStorm2017.3/config/options/composerJson.xml
.PhpStorm2017.3/config/options/statistics*.xml
.PhpStorm2017.3/config/scratches/
.PhpStorm2017.3/config/javascript/extLibs/
.PhpStorm2017.3/config/phpstorm1620.key
.PhpStorm2017.3/config/phpstorm110.key
.PhpStorm2017.3/config/phpstorm.key
.PhpStorm2017.3/config/port
.PhpStorm2017.3/config/options/window.state.xml
.PhpStorm2017.3/config/eval
.PhpStorm2017.3/config/consoles/
.PhpStorm2017.3/config/jdbc-drivers/

# Sublime Text
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle

# Composer
.composer/

# Config folder
.config/
!.config/gtk-3.0/*
!.config/htop/*
!.config/nautilus/*
!.config/sublime-text-3/*
!.config/xfce4/*

# Others
bin/phing
.sync/
!.sync/btsync.json

# Atom
.atom/.apm/
!.atom/.apm/.apmrc
.atom/projects.cson
.atom/blob-store/
.atom/compile-cache/
.atom/packages/
.atom/.node-gyp/
.atom/recovery/
.atom/storage/

# Local share
.local/
!.local/share/applications/*
