[alias]
    st   = status
    co   = checkout
    cob  = checkout --no-track -b
    cp   = cherry-pick
    rb   = rebase
    rbom = rebase -i origin/master
    c    = commit
    ca   = commit --amend
    com  = commit -m
    coma = commit -a -m
    aa   = add --all
    fa   = fetch --all -p -v
    f    = fetch --all -p
    r1   = reset HEAD~1

    # push
    pushoh = push -u origin HEAD # like first push

    # log section
    l   = !git log | tig -FRSX
    ll  = log --color --all --format='%C(yellow)%h%Creset %cr %C(blue)%cn%Creset -%C(auto)%d%Creset %s'
    lg  = log --graph --oneline --abbrev-commit --color --decorate
    lgt = log --graph --oneline --abbrev-commit --color --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lga = log --graph --oneline --abbrev-commit --color --decorate --all

    # branch management
    bdelete = !git branch -D $(git branch | grep -v ^* | xargs)

    # alias management
    aliases = "!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort"

    # diff
    da = difftool --cached -d

    # tags
    tdelete = fetch --prune origin +refs/tags/*:refs/tags/* 

[user]
    useconfigonly = true

[color]
    ui   = true
    diff = true

[color "branch"]
    current = blue
    local   = yellow
    remote  = green

[color "status"]
    added     = green
    changed   = yellow
    untracked = red

[push]
    default = simple

[diff]
    tool = meld
    guitool = meld

[merge]
    tool = meld
	ff = false

[core]
    excludesfile = ~/.gitignore_global

[pull]
    rebase = preserve

[branch]
    autosetuprebase = never

[rerere]
    enabled = true

[include]
    path = ~/.gitconfig_private

[init]
    templatedir = ~/.git-templates

