[Desktop Entry]
Name=BtSync
Exec=btsync --config $HOME/.btsync/btsync.conf --log $HOME/.btsync/btsync.log
Type=Application
Hidden=false
NoDisplay=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
Comment=BitTorrent Sync daemon
