"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "markdown-preview"
      "keyboard-localization"
    ]
    projectHome: "/home/benoit/workspace"
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "1160abbc-6604-41e3-689e-6fc604423c22"
  "git-diff":
    showIconsInEditorGutter: true
  "keyboard-localization":
    useKeyboardLayout: "fr_FR-bepo"
    useKeyboardLayoutFromPath: "/home/benoit/.atom/keybind-custom.json"
  linter: {}
  "linter-ansible-linting":
    ansibleLintExecutablePath: "/home/benoit/.local/bin/ansible-lint"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus": {}
  "project-manager":
    sortBy: "last modified"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    tabLength: 4
".gitignore.source":
  editor:
    tabLength: 4
