/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/*GNOME Shell Black

with the huge help of Sean Wilson (half-left) 
http://half-left.deviantart.com/
*/

stage {
    font-family: ubuntu, cantarell, sans, sans-serif;
    font-size: 7pt;
    color: white;
}

/* custom font-size */
#panel {
    font-weight: normal;
    font-size: 7pt;
}

.shell-link {
    color: #8db3de;
    text-decoration: underline;
}

.shell-link:hover {
    color: #fff;
}

.label-shadow {
    color: rgba(0,0,0,0.7);
}

.label-real-shadow {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(0, 0, 0, 0);
    background-gradient-end: rgba(0, 0, 0, 255);
    width: 10px;
}

StScrollBar
{
    padding: 5px;
}

StScrollView StScrollBar
{
    min-width: 9px;
    min-height: 15px;
}


StScrollBar StBin#trough {
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
}

StScrollBar StButton#vhandle
{
    background-gradient-direction: horizontal; 
    background-gradient-start: rgba(70,70,70,0.4);
    background-gradient-end: rgba(50,50,50,0.4);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
}

StScrollBar StButton#hhandle
{
    background-gradient-direction: horizontal; 
    background-gradient-start: rgba(70,70,70,0.4);
    background-gradient-end: rgba(50,50,50,0.4);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-gradient-direction: horizontal; 
    background-gradient-start: rgba(70,70,70,0.6);
    background-gradient-end: rgba(50,50,50,0.6);
    border: 1px solid rgba(0,0,0,0.4);
}

/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-color: rgba(0,0,0,0.3);
    -arrow-border-radius: 4px;
    -arrow-background-color: rgba(11,11,11,0.9);
    -arrow-border-width: 4px;
    -arrow-base: 20px;
    -arrow-rise: 10px;
}

.popup-submenu-menu-item:open {
    background-color: #442c33;
    color: #eeeeee;
    }

.popup-menu {
    color: rgba(255,255,255,0.9);
    min-width: 200px;
}

.popup-sub-menu {
    background-color: rgba(22,22,22,0.7);
    border: 1px solid rgba(255,255,255,0.2);
    border-left: 0px;
    border-right: 0px;
}

.popup-combo-menu {
    background-color: rgba(33,33,33,0.9);
    padding: .4em 0em;
    color: #eeeeee;
    font-size: 6.5pt;
}

.popup-menu-content {
    padding: .5em 0em;
}

.popup-menu-item {
    padding: .4em 1.50em;
    spacing: .9em;
}

.popup-menu-item:active {
    background-gradient-direction: vertical;
    background-gradient-start: #885162;
    background-gradient-end: #442c33;
    color: #eeeeee;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.1);
}

.popup-image-menu-item {
}

.popup-alternating-menu-item:alternate {
    }

.popup-separator-menu-item {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(120,120,120,0.2);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 0.1em;
}

.popup-slider-menu-item {
    height: .7em;
    min-width: 12em;
    -slider-height: 0.3em;
    -slider-background-color: #333333;
    -slider-border-color: #5f5f5f;
    -slider-active-background-color: #534f40;
    -slider-active-border-color: #504c42;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-menu-icon {
    icon-size: 1em;
}

/* Switches */
.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("toggle-off-us.svg");
    background-size: contain;
}
.toggle-switch-us:checked {
    background-image: url("toggle-on-us.svg");
    background-size: contain;
}

.toggle-switch-intl {
    background-image: url("toggle-off-intl.svg");
    background-size: contain;
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on-intl.svg");
    background-size: contain;
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Buttons */


.candidate-page-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button,
.app-view-control {
    background-color: transparent;
    color: #fff;/*termasuk icon ejek notif*/
    border: 1px solid rgba(200,200,200,0.2);
  /*  border-radius: 4px;*/
/*    padding: 4px 12px;*/
    transition-duration:150ms;
}

.modal-dialog-button {
 /*   font-weight: bold;*/
}

.candidate-page-button:hover,/* button hover*/
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    border-color: rgba(255,255,255,0.5);
}

.notification-button:focus,/*<-- button terfokus*/
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus,
.app-view-control:focus {
    background-color:rgba(216,206,207,0.5);
color:#410d11;
}

.app-view-control:focus {
    padding: 3px;
}

.app-view-control:first-child:ltr:focus,
.app-view-control:last-child:rtl:focus {
    border-right-width: 1px;
}

.candidate-page-button:active,
.candidate-page-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed,
.app-view-control:checked {
    background-color:#d8cecf;
color:#410d11;
}

.candidate-page-button:insensitive,
.notification-button:insensitive,
.notification-icon-button:insensitive,
.modal-dialog-button:insensitive {
/*    border-color: red;
    color: #9f9f9f;*/
}

/* Common radii */

/*#searchEntry,*/
.modal-dialog-button,
.notification-button,
.hotplug-notification-item,
.app-view-controls {/* <--- pengaruhi button ALL*/
    border-radius: 5px;
}

.app-view-control:first-child:ltr,/*<-- Frequent*/
.app-view-control:last-child:rtl {
    border-radius: 5px 0px 0px 5px;
/*padding:12px;*/
    border-right-width: 0px;
}

.app-view-control:last-child:ltr,/* <-- All*/
.app-view-control:first-child:rtl {
    border-radius: 0px 5px 5px 0px;
}

/* Entries */

/*#searchEntry,*/
/*.prompt-dialog-password-entry,*/
.run-dialog-entry,
.notification StEntry,
.notification StEntry:focus,
.modal-dialog StEntry {
/*kolom*/
    width: 20em;
    background-gradient-start: rgb(210,210,210);
    background-gradient-end: white;
    background-gradient-direction: vertical;
    border-radius: 4px;
    border: 1px solid rgba(245,245,245,0.3);
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
/*teks*/
    padding: 4px;
    font-size: 10pt;/*<-- jg mempengaruhi .run-dialog-entry*/
    font-weight: normal;
    color: #444;
    selected-color: white;
    selection-background-color: orange;
    caret-color: rgb(64, 64, 64);
    caret-size: 1px;
    transition-duration: 300ms;
}

.prompt-dialog-password-entry {
/*entry box*/
/*text*/
height:1.2em;
}

/*#searchEntry:focus,
#searchEntry:hover,*/
.prompt-dialog-password-entry:focus,
.modal-dialog StEntry:focus, {
    border-color: #ec7140;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

#searchEntry {
/*kolom*/
    background-gradient-direction: vertical;
    background-gradient-end: rgba(0,0,0,0.4);
    background-gradient-start: rgba(32,32,32,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    width:500px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,1);
    transition-duration: 300ms;
/*teks*/
    padding: 4px 12px;
    color: #a7a496;
    selected-color: #fff;
    caret-color: orange;/*garis teks*/
    caret-size: 1px;
    font-size: 16pt;
font-style:italic;
font-weight: normal;
}


#searchEntry:hover,
#searchEntry:focus {
  border-color: rgba(255,255,255,1);
    transition-duration: 300ms;
font-style:normal;
    color: #fff;
}

.search-entry-icon {
    icon-size: 16pt;
/*    color: #ec7140;*/
}

#searchEntry:hover .search-entry-icon,
#searchEntry:focus .search-entry-icon {
    color: #fff;
}

.prompt-dialog-password-entry .capslock-warning,
.login-dialog-prompt-entry .capslock-warning {
    icon-size: 10pt;
    warning-color: orange; /*tidak berguna*/
color:orange; /*berguna*/
    padding-right: 0 4px;
}

.modal-dialog StEntry:insensitive {
/*    border-color: #9f8588;
    background-gradient-direction: none;
    background-color: rgba(102, 102, 102, 0.15);
    box-shadow: inset 0 0 rgba(0,0,0,1.0);*/
}

/* Panel */

#panel {
    color: #999999; /*panel-colour-not-working?*/
    background-gradient-start:#171614;
    background-gradient-end:#000000;
    border: 0px solid rgb(218,215,218);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.9);
    font-size: 7pt; 
    box-shadow: 0px 0px 3px 3px rgba(20, 20, 20, 0.4);
    height: 3em;
    padding-right: 0px;
    
}

#panelCenter {
    spacing: 4px;
    background-image: url("slave-background.png");
    background-position: 0 0;
    box-shadow: inset 0px 5px 4px 3px rgba(0,0,0,0.2);
    border-radius: 1px;
    border: 1px solid #222;
    padding: 1px
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
    padding-right: 0px;
}

#panelRight:ltr {
    padding-left: 2px;
}

#panelRight:rtl {
    padding-left: 0px;
    padding-right: 2px;
}

#panelLeft {
    padding-right: 4px;
}

#panelRight {
    padding-left: 2px;
    background-image: url("slave-background.png");
    background-position: 0 0;
    box-shadow: inset 0px 5px 4px 3px rgba(0,0,0,0.2);
    border-radius: 1px;
    border: 1px solid #222;
    padding: 2px;
}

.panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: rgba(0,0,0,0.80000000000000004);
    -panel-corner-border-width: 0;
    -panel-corner-border-color: transparent;
}

.panel-corner:hover,
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-background-color: rgba(255,255,255,0.3);
}

#appMenu {
    spacing: 2px;
}

/* used for the app menu header only */
.label-shadow {
    color: transparent;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 12px;
    height: 12px;
}


.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    -transition-duration: 150;
}

.panel-button:hover {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px 0 rgba(255,255,255,0.1);
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0 -1px 3px 0 rgba(255,255,255,0.1);
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0.2);
    box-shadow: inset 0 -1px 3px 0 rgba(255,255,255,0.1);
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

.panel-menu {
    -boxpointer-gap: 3px;
}

.panel-status-button-box {
    spacing: 4px;
}

/* User Menu */

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #666;
    border-radius: 3px;
    width: 36pt;
    height: 36pt;
    background-size: contain;
    transition-duration: 150;
}

.status-chooser-user-icon:hover {
    border: 1px solid rgba(255,255,255,0.2);
}

.status-chooser-user-name {
    
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    color: rgb(255,255,255);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    padding: .4em 0em;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    box-shadow: none;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.14em;
    transition-duration: 150;
}

/* Overview */

#overview {
    spacing: 12px;
}

.window-caption {
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    border-right: 0;
    border-radius: 3px 0 0 3px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    padding: 9px 7px 9px 9px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    padding: 9px 9px 9px 7px;
}

.workspace-thumbnails {
    spacing: 9px;
}

.workspace-thumbnail-indicator {
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 3px;
    padding: 1px;
}

.window-caption {
    color: rgb(255,255,255);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    border-radius: 3px;
    padding: 2px 12px;
    -shell-caption-spacing: 6px;
}

.window-close, .notification-close {
    background-image: url("close-window.svg");
    background-size: contain;
    height: 32px;
    width: 32px;
}

.window-close {
    -shell-close-overlap: 20px;
}

.notification-close {
    /* we start out in the top right of the
     * notification, inset.
     *
     * center is 32px/2 = 16px
     *
     * adjust left 2px
     * adjust down 8px */

    -shell-close-overlap-x: 15px;
    -shell-close-overlap-y: 12px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Dash */

#dash {
    color: #ccc;
    font-size: 7.5pt;
    padding: 4px 0;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    border-left: 0;
    border-radius: 0 3px 3px 0;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

.placeholder {
    background-image: url("dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

#viewSelector {
    spacing: 1em;
}

/* Search Box */
/* Search Results */

#searchResults {
    padding: 20px 10px 0px 10px;
    spacing: 18px;
}

#searchResultsBin {
    max-width: 1000px;
}

#searchResultsContent {
    padding-left: 20px;
    padding-right: 20px;
    spacing: 16px;
}

.search-section {
    /* This should be equal to #searchResultsContent spacing */
    spacing: 16px;
}

.search-section-separator {
    -gradient-height: 1px;
    -gradient-start: rgba(255,255,255,0);
    -gradient-end: rgba(255,255,255,0.5);
    -margin-horizontal: 1.5em;
    height: 1px;
}

.search-section-content {
    /* This is the space between the provider icon and the results container */
    spacing: 32px;
}

.search-statustext {
    color: #efefef;
    font-size: 2em;
 /*   font-weight: bold;*/
}

.list-search-results {
    spacing: 3px;
}

.dash-label {
    color: rgb(255,255,255);
    border-radius: 3px;
    padding: 2px 12px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    text-align: center;
    -x-offset: 6px;
}

/* Application Launchers and Grid */

.icon-grid {
    spacing: 64px;
    -shell-grid-horizontal-item-size: 128px;
    -shell-grid-vertical-item-size: 128px;
}

.icon-grid .overview-icon {
    icon-size: 32px;
}

.app-display {
    padding: 8px;
    spacing: 20px;/*jarak antara Frequent | All dng icon apps*/
}

.app-view-controls {/*Frequent | All*/
    width: 232px;
    padding-bottom: 28px;
}

.app-view-control {
    padding: 4px 16px;
}

.search-display > StBoxLayout,
.all-apps > StBoxLayout,
.frequent-apps > StBoxLayout {
    /* horizontal padding to make sure scrollbars or dash don't overlap content */
    padding: 0px 88px;
}

.app-folder-icon {
    padding: 5px;
}

.dash-item-container > StButton {
    padding: 4px 8px;
}

.list-search-result-content {
    spacing: 12px;
    padding: 12px;
}

.list-search-result-title {
    font-weight: bold;
    font-size: 8pt;
    color: white;
}

.list-search-result-description {/*deksripsi hasil Search*/
padding-top:5px; /*jarak dari result-title*/
color: white/*#9f8588*/;
font-size: 7pt;
font-weight:normal;
text-shadow:0px 0px 0px rgba(0,0,0,0);
}

.search-provider-icon-more {
    width: 16px;
    height: 16px;
    background-image: url("more-results.svg");
}

.app-well-app > .overview-icon,/* icon2 pada menu utama*/
.show-apps > .overview-icon,
.search-provider-icon,
.list-search-result,
.grid-search-result .overview-icon {
	border-radius: 4px;
	padding: 1px;/*jrak tepi container seleksi ke icon def 3px*/
	border: 1px rgba(0, 0, 0, 0);
	font-size: 8pt;
	color: #fff;
	font-weight: normal;
	text-align: center;
    transition-duration: 150ms;
    text-shadow:rgba(0,0,0,0.7) 0px 1px 2px;
}

.app-folder-popup {/*container dari isi folder*/
    -arrow-border-radius: 8px;
    -arrow-background-color: black;
    -arrow-base: 24px;
    -arrow-rise: 11px;
}

.app-folder-popup-bin {
    padding: 15px;
}

.app-well-app.running > .overview-icon {/*Program yg sedang jalan*/
    background-color: rgba(0,0,0,1);
background-gradient-direction: vertical;
background-gradient-start:rgba(216,160,142,0.9);
background-gradient-end:rgba(178,78,46,0.5);
    border: 1px solid rgba(216,160,142,0.5);
box-shadow: 0px 2px 1pxrgba(0,0,0,0.5);
}

.app-well-app.app-folder > .overview-icon {
    background-color: rgba(0,0,0,0.5);
}

.app-well-app:hover > .overview-icon,
.show-apps:hover > .overview-icon,
.search-provider-icon:hover,
.list-search-result:hover,
.grid-search-result:hover .overview-icon {/*tidak termasuk pilihan ALT TAB*/
    background-gradient-direction: none; 
    background-color: rgba(220,217,216,0.5);
    border: 1px solid rgba(255,255,255,0.5);
/*color:#410d11;
text-shadow:0px 0px 0px rgba(0,0,0,0);*/
}

.app-display .app-well-app > .overview-icon {
/*    border-radius: 10px;*/
}

.list-search-result:hover .list-search-result-description {
  /*  text-shadow: rgba(0,0,0,0.8) 0px 1px 2px;*/
}

.show-apps {
    padding: 4px 0;
}

.show-apps-icon {/*ikon all app*/
    color: #a0a0a0;
}

.show-apps:hover .show-apps-icon {
    color: white;
}

.app-well-app:checked > .overview-icon,
.app-well-app:active > .overview-icon,
.show-apps:checked > .overview-icon,
.show-apps:active > .overview-icon {/*dragged item*/
    background-gradient-direction: vertical; 
    background-gradient-end: rgba(255,255,255,0.4);
    background-gradient-start: rgba(255,255,255,0.6);
    border: 1px transparent rgba(255,255,255,0.3);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
    transition-duration: 150ms;
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
    color: white;
    transition-duration: 100ms;
}

.app-well-app:focus > .overview-icon,
.grid-search-result:focus .overview-icon,
.show-apps:focus > .overview-icon,
.search-provider-icon:focus,
.list-search-result:focus,
.app-well-app:selected > .overview-icon,
.grid-search-result:selected .overview-icon,
.search-provider-icon:selected,
.list-search-result:selected {/*app ditekan timbul submenu*/
    border: 1px transparent rgba(255,255,255,0.5);
    color: white;
}

/* LookingGlass */

#LookingGlassDialog {
    background-color: rgba(0,0,0,0.8);
    spacing: 4px;
    padding: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

#LookingGlassDialog > #Toolbar {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    color: #ccc;
    padding: 2px;
    transition-duration: 150;
}

#LookingGlassDialog .notebook-tab:hover {
    color: white;
}

#LookingGlassDialog .notebook-tab:selected {
    color: white;
    font-weight: bold;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StEntry {
    selection-background-color: rgba(255,255,255,0.3);
    selected-color: #eee;
}

.lg-completions-text {
    font-size: .9em;
    font-style: italic;
}

.lg-obj-inspector-title {
    spacing: 4px;
}

.lg-obj-inspector-button {
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 4px;
    border-radius: 3px;
    transition-duration: 150;
}

.lg-obj-inspector-button:hover {
    background-color: rgba(0,0,0,0.8);
}

.lg-dialog .shell-link {
    color: #eee;
}

.lg-dialog .shell-link:hover {
    color: white;
}

#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 6px;
}


/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 400px;
}

.calendar-vertical-separator {
    -stipple-width: 1px;
    -stipple-color: #666;
    width: 0.3em;
}

#calendarPopup {
    color: #eeeeee;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.6);
    background-gradient-end: rgba(0,0,0,0.72);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 3px;
}

#calendarPopup .calendar {
    padding: 6px;
}

.calendar {
    padding: .3em 1.30em;
    spacing-rows: 0;
    spacing-columns: 0;
}

.calendar-month-label {
    color: #000
    font-size: 6.5pt;
    padding-bottom: 8px;
    padding-top: 6px;
    }

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    transition-duration: 150;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
    transition-duration: 150;
}

.calendar-change-month-back:hover {
    background-color: rgba(0,0,0,0.21);
}

.calendar-change-month-back:active {
    background-color: #eeeeee;
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    transition-duration: 150;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
    transition-duration: 150;
}

.calendar-change-month-forward:hover {
    background-color: rgba(0,0,0,0.21);
}
.calendar-change-month-forward:active {
    background-color: #eeeeee;
}

.datemenu-date-label {
    color: #eeeeee;
    padding: .4em 1.50em;
    font-size: 7pt;
   }

.calendar-day-base {
    color: #eeeeee;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.72);
    background-gradient-end: rgba(0,0,0,0.6);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
    font-size: 6.5pt;
    text-align: center;
    width: 2em;
    height: 2em;
    transition-duration: 150;
}

.calendar-day-base:hover {
    color: #eee;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.6);
    background-gradient-end: rgba(255,255,255,0.72);
    box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.3);
}

.calendar-day-base:active {
    color: #eee;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0);
    background-gradient-end: rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.calendar-day-heading {
    color: #eee;
    padding-top: 1em;
}

.calendar-week-number {
    color: #eee;
   }

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    color: #eee;
    border: 1px solid #333;
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: rgba(128, 128, 128, .1);
}

.calendar-today {
    font-weight: bold;
    transition-duration: 150;
}

.calendar-today:hover {
    background-color: rgba(0,0,0,0.21);
}

.calendar-other-month-day {
    color: #666;
}

.calendar-day-with-events {
    color: #eee;
    font-weight: bold;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.50em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.50em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    color: rgba(153, 153, 153, 1.0);
    font-size: 6pt;
    padding-left: 1.9em;
    padding-top: 0.9em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    color: rgba(153, 153, 153, 1.0);
    font-size: 6pt;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    color: #eee;
    font-size: 6pt;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    color: rgba(153, 153, 153, 1.0);
    font-size: 6pt;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #fffcff;
}

/* Message Tray */
#message-tray {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(39,39,39,0.6);
    background-gradient-end: rgba(21,21,21,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: 0px 0px 3px 2px rgba(11,11,11,0.5);
    color: #fff; 
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 52px;
}

.message-tray-summary {
    height: 72px;
}

.no-messages-label {
    font-family: cantarell, sans-serif;
    font-size: 8pt;
    color: #999999;
}

.notification {
    border-radius: 7px 7px 0px 0px;
    background: rgba(0,0,0,0.8);
    padding: 8px 8px 4px 8px;
    spacing-rows: 4px;
    spacing-columns: 10px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 0, 0.75);
    background-gradient-end: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.7); /*box-shadow*/
    border: 1px solid rgba(255,255,255,0.1); /*lightborder*/
    border-bottom: 0px;
    text-shadow: black 0px 2px 2px;
}

.notification, #notification-container {
    font-size: 8pt;
    width: 34em;
}

.notification.multi-line-notification {
    padding-bottom: 8px;
}

.notification-unexpanded {
    /* We want to force the actor at a specific size, irrespective
       of its minimum and preferred size, so we override both */
    min-height: 36px;
    height: 36px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-border-width: 2px;
    -arrow-border-color: transparent;
    -arrow-border-radius: 7px;
    -arrow-background-color: rgba(0,0,0,0.9);
    -arrow-base: 24px;
    -arrow-rise: 11px;
    color: white;
    -boxpointer-gap: 4px;
}

.summary-boxpointer .notification {
    border-radius: 7px;
    background-gradient-start: rgba(0, 0, 0, 0) !important;
    background-gradient-end: rgba(0, 0, 0, 0) !important;
    border: 0px solid transparent !important;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    padding-top: 12px;
    padding-bottom: 12px;
}

.summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.summary-notification-stack-scrollview:ltr {
    padding-right: 0px;
}

.summary-notification-stack-scrollview:rtl {
    padding-left: 0px;
}

.notification-scrollview {
    max-height: 10em;
    -st-vfade-offset: 24px;
}

.notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

.notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

.notification-body {
    spacing: 5px;
}

.notification-actions {
    padding-top: 18px;
    spacing: 10px;
}

.notification-button {
    -st-natural-width: 140px;
    padding: 4px 4px 5px;
}

.notification-icon-button {
    border-radius: 5px;
    padding: 5px;
}

.notification-icon-button > StIcon {
    icon-size: 16px;
    padding: 8px;
}

.secondary-icon {
    icon-size: 1.09em;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;

    color: #ccc;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0.1);
    background-gradient-end: rgba(255, 255, 255, 0);

    color: #fff;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}

.chat-log-message {
    color: #888888;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    padding-left: 18pt;
    color: #959595;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    font-size: 9pt;
    color: #bbbbbb;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-notification-scrollview{
	max-height: 22em;
}

.subscription-message {
    font-style: italic;
}

.notification StEntry {
    border-radius: 4px;
}

.summary-source-button {
    padding: 6px 3px 6px 3px;
}

.summary-source-button:last-child:ltr {
    padding-right: 6px;
}

.summary-source-button:last-child:rtl {
    padding-left: 6px;
}

.summary-source-button:hover .summary-source {
    background-color: rgba(255,255,255,0.1);
}

.summary-source-button:focus .summary-source,
.summary-source-button:selected .summary-source {
    background-color: rgba(255,255,255,0.33);
}

.summary-source {
    border-radius: 4px;
    padding: 0 6px 0 6px;
    transition-duration: 100ms;
}

.summary-source-counter {
    background-image: url("summary-counter.svg");
    background-size: 2.4em;
    font-size: 10pt;
    font-weight: bold;
    height: 2.4em;
    width: 2.4em;
    -shell-counter-overlap-x: 13px;
    -shell-counter-overlap-y: 13px;
}

/* OSD */
.osd-window {
    text-align: center;
    font-weight: bold;
    spacing: 1em;
    border-radius: 12px !important;
}

.osd-window .level {
    height: 0.7em;
    border-radius: 0.3em;
    background-color: rgba(190,190,190,0.2);
}


/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    color: rgb(255,255,255);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    border-radius: 3px;
    padding: 20px;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(33,33,33,1.0);
    background-gradient-end: rgba(33,33,33,0);
    border-radius: 24px;
    border-radius-topright: 0;
    border-radius-bottomright: 0;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(33,33,33,0);
    background-gradient-end: rgba(33,33,33,1.0);
    border-radius: 24px;
    border-radius-topleft: 0;
    border-radius-bottomleft: 0;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 3px;
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 1px solid rgba(72,72,72,1.0);
}

.switcher-list .item-box:selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width: 256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(0,0,0,0.2);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple-ltr.png");
    background-size: contain;
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: transparent;
    color: #999;
}

.switcher-arrow:highlighted {
    border-color: transparent;
    color: white;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    color: rgb(255,255,255);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    border-radius: 3px;
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    border: 0;
    background-color: rgba(255,255,255,0.3);
    background-image: url("ws-switch-arrow-up.png");
    border-radius: 3px;
}

.ws-switcher-active-down {
    height: 100px;
    border: 0;
    background-color: rgba(255,255,255,0.3);
    background-image: url("ws-switch-arrow-down.png");
    border-radius: 3px;
}

.ws-switcher-box {
    height: 96px;
    border: 1px solid rgba(0,0,0,0.2);
    background: transparent;
    border-radius: 3px;
}

/* Modal Dialogs */

/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
    font-size: 10pt;
    font-weight: bold;
    color: rgb(255,255,255);
}

.modal-dialog {
    border-radius: 3px;
    color: rgb(255,255,255);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    box-shadow: none;
}

.modal-dialog-button-box {
    spacing: 21px;
    padding-top: 50px;
}

.modal-dialog-button {
    border-radius: 3px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 3px 20px 4px;
}

.modal-dialog-button:insensitive {
    color: rgb(60,60,60);
}

.modal-dialog-button:focus {
}

/* Run Dialog */

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-weight: bold;
    width: 23em;
    selection-background-color: rgba(255,255,255,0.3);
    selected-color: #eee;
}

.run-dialog {
    border-radius: 3px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: black;
}

.flashspot {
    background-color: white;
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    padding-left: 17px;
    padding-bottom: 20px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0;
    padding-right: 17px;
}

.end-session-dialog-description {
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.end-session-dialog-shutdown-icon {
    color: #ccc;
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 8pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
}

.end-session-dialog-app-list-item:hover {
    color: white;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 8pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 6pt;
    color: #666;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.mount-question-dialog-subject {
    max-width: 450px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 8pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
    color: white;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 8pt;
}

/* Password or Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline {
    font-size: 10pt;
    font-weight: bold;
    color: rgb(255,255,255);
}

.prompt-dialog-password-box {
    spacing: 1em;
    padding-bottom: 1em;
}

.prompt-dialog-error-label {
    font-size: 8pt;
    color: #eee;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 8pt;
    padding-bottom: 8px;
}

.hidden {
    color: transparent;
}

.prompt-dialog-null-label {
    font-size: 8pt;
    padding-bottom: 8px;
}

/* Polkit Dialog */

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #eee;
}

.polkit-dialog-user-icon {
    border: 1px solid #666;
    border-radius: 3px;
    width: 36pt;
    height: 36pt;
    background-size: contain;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128,0,0,1);
}

.magnifier-zoom-region.full-screen {
    border-width: 0;
}

/* On-screen Keyboard */

#keyboard {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border-color: rgba(0,0,0,0.20000000000000001);
    border-top-width: 1px;
    box-shadow: none;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
/*newbutton-on
    color: #333;
    font-weight: bold;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
newbutton-on*/

    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.2);

    transition-duration: 150;
    border-radius: 3px;
    font-size: 12pt;
    font-weight: bold;
    transition-duration: 150;
}

.keyboard-key:grayed {
    color: #666;
}

.keyboard-key:checked,
.keyboard-key:hover {
/*newbutton-on
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
newbutton-on*/

    color: #fff;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.2);

}

.keyboard-key:active {
/*newbutton-on
    background-gradient-start: rgba(233,233,233,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
newbutton-on*/

    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);

}

.keyboard-subkeys {
    color: rgb(255,255,255);
    padding: 4px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    -arrow-border-radius: 3px;
    -arrow-border-width: 1px;
    -arrow-base: 21px;
    -arrow-rise: 9px;
    -boxpointer-gap: 6px;

    background-color: transparent;
    border-color: transparent;
    -arrow-background-color: rgba(0,0,0,0.80000000000000004);
    -arrow-border-color: rgba(0,0,0,0.20000000000000001);

/*arrow-off
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.80000000000000004);
    background-gradient-end: rgba(0,0,0,0.80000000000000004);
    border-color: rgba(0,0,0,0.20000000000000001);
    -arrow-background-color: transparent;
    -arrow-border-color: transparent;
arrow-off*/
}

/* IBus Candidate Popup */
.candidate-index {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.candidate-label {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.candidate-label:selected {
    border-radius: 3px;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}

/* Login Dialog */

.login-dialog-banner {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    color: #666;
    padding-bottom: 1em;
}

.login-dialog-title {
    font-size: 10pt;
    font-weight: bold;
    color: #666;
    padding-bottom: 2em;
}

.login-dialog {
    /* Reset border and background */
    border: none;
    background-color: transparent;
    border-radius: 3px;
    min-height: 150px;
    max-height: 700px;
    min-width: 350px;
}

.login-dialog-prompt-login-hint-message {
    font-size: 8.5pt;
}

.login-dialog-user-list-view {
    -st-vfade-offset: 1em;
}

.login-dialog-user-list {
    spacing: 12px;
    padding: .2em;
}

.login-dialog-user-list-item {
    color: #666;
    border-radius: 3px;
    padding: .2em;
}

.login-dialog-user-list-item:ltr {
    padding-right: 1em;
}

.login-dialog-user-list-item:rtl {
    padding-left: 1em;
}

.login-dialog-user-list-item .login-dialog-user-list-item-name {
    font-size: 18pt;
    padding-left: 1em;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item {
    color: #999;
}

.login-dialog-user-list-item,
.login-dialog-user-list-item:hover .login-dialog-user-list-item-name,
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus .login-dialog-user-list-item-name,
.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
    color: white;
    text-shadow: black 0 2px 2px;
}

.login-dialog-user-list-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
    background-image: url("logged-in-indicator.svg");
    background-size: contain;
}

.login-dialog-user-list-item-text-box {
    padding: 0 0.5em;
}

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
    background-color: transparent;
    height: 2px;
}

.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
    background-color: #999;
}

.login-dialog-user-list-item-icon {
    border: 1px solid #666;
    border-radius: 3px;
    width: 64px;
    height: 64px;
}

.login-dialog-not-listed-label {
    font-size: 10.5pt;
    font-weight: bold;
    color: #666;
    padding-top: 1em;
}

.login-dialog-not-listed-button:focus .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-not-listed-label {
    color: #eee;
}

.login-dialog-username {
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    text-shadow: black 4px 4px 3px 0;
}

.login-dialog-prompt-layout {
    padding-top: 24px;
    padding-bottom: 12px;
    spacing: 8px;
}

.login-dialog-prompt-label {
    color: #eee;
    font-size: 14px;
}

.login-dialog-prompt-entry {
    width: 15em;
}

.login-dialog-session-list {
    color: white;
    font-size: 10.5pt;
}

.login-dialog-session-list-button {
    padding: 4px;
}

.login-dialog-session-list-button:focus {
    background-color: #333;
}

.login-dialog-session-list-button:active {
    background-color: #333;
}

.login-dialog-session-list-button:hover {
    font-weight: bold;
}

.login-dialog-session-list-scroll-view {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: .5em;
}

.login-dialog-session-list-item:focus {
    background-color: #666;
}

.login-dialog-session-list-triangle {
    padding-right: .5em;
}

.login-dialog-session-list-item-box {
    spacing: .25em;
}

.login-dialog-session-list-item-dot {
    width: .75em;
    height: .75em;
}

.login-dialog .modal-dialog-button {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 3px 18px;
}

.login-dialog .modal-dialog-button:focus {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
}

.login-dialog .modal-dialog-button:default {
    color: #eee;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.2);
}

.login-dialog .modal-dialog-button:default:hover {
    color: #eee;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.2);
}

.login-dialog .modal-dialog-button:default:active,
.login-dialog .modal-dialog-button:default:pressed {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}

.login-dialog-message-warning {
    color: orange;
}

.unlock-dialog-user-name-container {
    spacing: .4em;
}

/* Screen shield */

.screen-shield-background {
    background: black;
    box-shadow: 0 3px 5px rgba(0,0,0,0.8);
}

#lockDialogGroup {
    background: #333 url(noise-texture.png);
    background-repeat: repeat;
}

.screen-shield-arrows {
    padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
    color: white;
    width: 80px;
    height: 48px;
    -arrow-thickness: 12px;
    -arrow-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.screen-shield-contents-box {
    spacing: 48px;
}

.screen-shield-clock {
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.5em;
}

.screen-shield-clock-time {
    font-size: 86px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

.screen-shield-clock-date {
    font-size: 48px;
}

#screenShieldNotifications {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.80000000000000004);
    border: 1px solid rgba(0,0,0,0.20000000000000001);
    max-height: 500px;
    padding: 12px 0;
    box-shadow: none;
}

.screen-shield-notifications-box {
    spacing: 12px;
}

.screen-shield-notification-source {
    padding: 0 24px;
    spacing: 5px;
}

.screen-shield-notification-label {
    font-size: .7em;
    font-weight: bold;
    color: #ccc;
}

/* Remove background from notifications, otherwise
   opacity is doubled and they look darker
*/
.screen-shield-notifications-box .notification {
    background-color: transparent;
}

/* Override padding on resident notifications, since
   the notifications box has its own spacing
*/
.screen-shield-notifications-box .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
}
