[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Developer Edition
GenericName=Web Browser
Icon=/home/benoit/.local/share/umake/web/firefox-dev/browser/chrome/icons/default/default128.png
Exec=/home/benoit/.local/share/umake/web/firefox-dev/firefox %u
X-MultipleArgs=false
Comment=Firefox Aurora with Developer tools
Terminal=false
Categories=GNOME;GTK;Network;WebBrowser;Development;IDE;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=ProfileManager;new-window;new-private-window;
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[fr]=Internet;WWW;Browser;Web;Explorer;Fureteur;Surfer;Navigateur
StartupWMClass=firefox-dev

[Desktop Action ProfileManager]
Name=Profile Manager
Exec=/home/benoit/.local/share/umake/web/firefox-dev/firefox -P

[Desktop Action new-window]
Name=Open a New Window
Exec=/home/benoit/.local/share/umake/web/firefox-dev/firefox -new-window

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/benoit/.local/share/umake/web/firefox-dev/firefox -private-window
