/* Panel */

#panel {
    /*border: 1px solid rgba(255,255,255,0.15);
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
    border-radius: 0px;*/
    color: rgba(255,255,255,1.0);
    background-color: rgba(0,0,0,1.0);
    /*background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.85);
    background-gradient-end: rgba(0,0,0,0.7);*/
    height: 1.86em;
    font-size: 10pt;
    font-weight: normal;
    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.25);
}

#panelLeft, #panelCenter, #panelRight {
    spacing: 4px;
    font-weight: normal;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

.panel-corner {
    -panel-corner-radius: 5px;
    -panel-corner-background-color: black;
    /*-panel-corner-inner-border-width: 2px;
    -panel-corner-inner-border-color: transparent;
    -panel-corner-outer-border-width: 1px;
    -panel-corner-outer-border-color: #536272;*/
}

.panel-corner:hover,
.panel-corner:active,
.panel-corner:checked,
.panel-corner:focus {
  -panel-corner-background-color: #222;
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ccc;
    transition-duration: 200;
}

.panel-button > StIcon {
	icon-size: 16px; /* Tray icon size */
}

.panel-button:hover {
    color: white;
    text-shadow: black 0px 1px 2px;
		background-gradient-direction: vertical;
		background-gradient-start: rgba(255,255,255,0.05);
		background-gradient-end: rgba(255,255,255,0.15);
}

.panel-button:active,
.panel-button:checked,
.panel-button:focus {
		border: 0px solid rgba(86,147,201,0.8);
		background-gradient-direction: vertical;
		background-gradient-start: rgba(255,255,255,0.05);
		background-gradient-end: rgba(255,255,255,0.25);
    color: white;
    text-shadow: black 0px 1px 2px;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 1px 1px;
}

#panelActivities {
}

#panelStatus {
}

#panelStatusMenu {
    spacing: 4px;
}

#legacyTray {
    spacing: 14px;
    padding-left: 14px;
}

#legacyTray:rtl {
    padding-left: 0px;
    padding-right: 14px;
}

#legacyTray:compact {
    spacing: 8px;
}

.panel-menu {
    -boxpointer-gap: 4px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    width: 48pt;
    height: 48pt;
		padding: 3px; 
}

.status-chooser-user-icon:hover {
    border: 1px solid #888;
		box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.5);
}

.status-chooser-user-name {
    font-weight: normal;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
		border-radius: 3px;
}

/*.status-chooser-combo.popup-combo-menu {
    background-color: rgba(0,0,0,0.7);
    padding: .4em 0em;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    color: #ffffff;
    font-size: 10.5pt;
}*/

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.14em;
}

