/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-radius: 4px;
    -arrow-background-color: rgba(0,0,0,0.85);
    -arrow-border-width: 1px;
    -arrow-border-color: #161616;
    -arrow-base: 16px;
    -arrow-rise: 8px;
}

.popup-menu {
    color: #ffffff;
    font-size: 10pt;
    min-width: 200px;
}

.popup-submenu-menu-item:open {
    background-color: #3d3d3d;
}

.popup-sub-menu {
    background-gradient-start: rgba(80,80,80,0.2);
    background-gradient-end: rgba(80,80,80,0.4);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.95);
    border: 0px solid #333;
    border-bottom: 1px solid #333;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

.popup-combo-menu {
    background-color: rgba(0,0,0,0.85);
    padding: 3px 0;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 3px;
		box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.5);
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 0.5em 0em;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
    border-top: transparent solid 1px;
    transition-duration: 100;
}

.popup-menu-item:active {
		background-gradient-direction: vertical;
		background-gradient-start: rgba(156,156,156,0.4);
		background-gradient-end: rgba(128,128,128,0.4);
    border: rgba(255,255,255,0.25) solid 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.popup-menu-item:insensitive {
    color: #9f9f9f;
}

.popup-image-menu-item {
}

.popup-separator-menu-item {
    -gradient-height: 1px;
    -gradient-start: rgba(102,102,102,0);
    -gradient-end: #666666;
    -margin-horizontal: 1em;
    height: 1px;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #000;
    -slider-border-color: #666;
    -slider-active-background-color: #444;
    -slider-active-border-color: #666;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.4em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
		font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("img/toggle-off-us.svg");
}
.toggle-switch-us:checked {
    background-image: url("img/toggle-on-us.svg");
}

.toggle-switch-intl {
    background-image: url("img/toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
    background-image: url("img/toggle-on-intl.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}

